//
// * Mixins
//
//@import "../../../../../justwebsite-style/Resources/Public/Scss/variables";
@import "mixins";
body,
html {
    .text-right {
        .btn {
            text-align: right;
        }
    }
    .text-left {
        .btn {
            text-align: left;
        }
    }
    .btn {
        padding: 0;
        margin: 20px 0 30px; 
        display: flex;
        justify-content: center;
        align-items: center;
        font: {
            weight: 600;
        }
        text-transform: uppercase;
        background-color: transparent;
        border: 0;
        color: $white;
        @include media-breakpoint-down(md) {
            font-size: 14px;
        }
        svg {
            height: 20px;
            pointer-events: none;
        }
        &:hover,
        &:focus,
        &:focus-within {
            background-color: transparent;
            border: 0;
            color: $color-1;
        }
        &.btn-primary {
            padding: 12px 32px;
            margin-right: 11px;
            margin-bottom: 20px;
            display: inline-flex;
            justify-content: center;
            border-radius: 19px;
            border: 3px solid white;
            color: #27211f;
            background-color: white;
            transition: 400ms all ease-in-out;
            svg {
                margin-left: 24px;
                align-self: center;
                path {
                    transition: 400ms all ease-in-out;
                }
            }

            &:hover, 
            &:focus, 
            &:focus-within {
                text-decoration: none;
                transform: translateY(-5px);
                border: 3px solid $color-1;
                background-color: $color-1;
                color: white;
                box-shadow: none;
                svg {
                    path {
                        fill: white;
                    }
                }
            }
        }   
        &.btn-secondary {
            padding: 12px 32px;
            margin-right: 11px;
            margin-bottom: 20px;
            display: inline-flex;
            justify-content: center;
            border-radius: 19px;
            border: 3px solid $color-1;
            color: $white;
            background-color: $color-1;
            transition: 400ms all ease-in-out;
            svg {
                margin-left: 24px;
                align-self: center;
                path {
                    transition: 400ms all ease-in-out;
                }
            }

            &:hover, 
            &:focus, 
            &:focus-within {
                text-decoration: none;
                transform: translateY(-5px);
                border: 3px solid $color-1;
                background-color: $color-1;
                color: white;
                box-shadow: none;
                svg {
                    path {
                        fill: white;
                    }
                }
            }
        }
        &.btn-success {}
        &.btn-warning {}
        &.btn-danger {}
        &.btn-info {}
        &.btn-outline-primary {
 
           
        }
        &.btn-outline-secondary {
          
        }
        &.btn-outline-success {}
        &.btn-outline-warning {}
        &.btn-outline-danger {}
        &.btn-outline-info {}
    }
    div.frame-background-light {
        .btn {
            &.btn-primary {
                background-color: $color-1;
                color: $white;
                border: 1px solid $color-1;
            }
        }
    }
}

