//@import "../../../../../justwebsite-style/Resources/Public/Scss/variables";
 
picture {

    overflow: hidden;
    transition: all 400ms ease-in-out;
}
.data-tilt {
    &:hover,
    &:focus, 
    &:focus-within {
        picture {
            box-shadow: 1px 15px 43px -26px rgba(255,255,255,0.75);
            -webkit-box-shadow: 1px 15px 43px -26px rgba(255,255,255,0.75);
            -moz-box-shadow: 1px 15px 43px -26px rgba(255,255,255,0.75);
        }
    }
}

div.pswp__bg {
    background-color: #27211f;
    opacity: .8 !important;
}

.frame-layout-columns {
    div.gallery {
        div.gallery-row {
            margin-left: 0;
            margin-right: 0;
            div.gallery-item:hover {
                max-width: 600px;
                width: 600px;
                @include media-breakpoint-down(md) {
                    width: 50%;
                    max-width: 50%;
                }  
                &::before {
                    width: 70px;
                }
            }
            div.gallery-item {
                position: relative;
                margin-right: 15px;
                padding: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                max-width: 300px;
                width: 300px;
                height: 700px;
                overflow: hidden;
                transition: all 300ms ease-in-out;
                @include media-breakpoint-down(md) {
                    margin-right: 3px;
                    width: 25%;
                    max-width: 25%;
                    height: 40vh;
                }  
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 10px;
                    height: 10px;
                    background-color: $white;
                    border-radius: 10px;
                    transition: all 300ms ease-in-out;
                }
                &:hover, 
                &:focus,
                &:focus-within {
                    max-width: 600px;
                    width: 600px;
                    &::before {
                        width: 70px; 
                    }
                }
                figure.image {
                    position: absolute;
                    margin: 0;
                    height: 100%;
                    margin-bottom: 60px;
                    min-height: 100%;
                    width: unset;
                    line-height: 1;
                    a {
                        min-height: 100%;
                        width: max-content;
                        display: block;
                        height: 100%;
                        max-width: unset;
                        position: relative;
                        picture {
                            border-radius: 0;
                        }
                        picture, 
                        img {
                            height: 100%;
                            width: auto;
                        }
                    }
                    
                }
            }
        }
    }
}

    div.gallery.gallery-portrait {
        max-height: 100%;
        height: 100%;
        div.gallery-row {
            max-height: 100%;
            height: 100%;
            div.gallery-item {
                max-height: 100%;
                height: 100%;
                figure.image {
                    width: 250px;
                    max-width: 250px;
                    @include media-breakpoint-down(md) {
                        margin-bottom: 40px;
                        width: 200px;
                        max-width: 200px;
                    }
                    picture {
                        border-radius: 0;
                    }
                }
            }
               
            
        }
    }

