//
// * Mixins
//
//@import "../../../../../justwebsite-style/Resources/Public/Scss/variables";
@mixin transition(element, time, effect) {
    transition: element time effect;
    -webkit-transition: element time effect;
    -moz-transition: element time effect;
    -ms-transition: element time effect;
    -o-transition: element time effect;
}

@mixin hoverlink {
    box-shadow: 0 9px 25px $box-shadow-color;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}