//
// * Navigation
//
//@import "../../../../../justwebsite-style/Resources/Public/Scss/variables";
@import "mixins";

body {
  * {
    text-decoration: none !important;
  }

  &.nav-open {
    header.bp-page-header {
      > div.container {
        > .header-part-right {
          button.navbar-toggler {
            span {
              background-color: transparent;

              &:before,
              &:after {
                top: 50%;
              }
            }
          }
        }
      }
    }
  }

  header.bp-page-header {
    padding: 40px 0;
    background-color: #0000 !important;
    border: 0;
    box-shadow: none;
    @include media-breakpoint-down(xl) {
      padding: 20px 0 0;
    }
    @include media-breakpoint-down(sm) {
      padding: 10px 0 0;
    }
    @include transition(all 350ms ease-in-out);

    &.navbar-transition,
    &.home-not {
      padding: 0;
      background-color: #0B2E3F !important;
    }

    > div.container {
      > .header-part-right {
        z-index: 1001;
        @include media-breakpoint-down(sm) {
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 100%;
          background-color: white;
          box-shadow: -2px -5px 24px -18px rgba(0, 0, 0, 0.67);
          -webkit-box-shadow: -2px -5px 24px -18px rgba(0, 0, 0, 0.67);
          -moz-box-shadow: -2px -5px 24px -18px rgba(0, 0, 0, 0.67);
          z-index: 999;
          > button {
            padding: 35px;

            span {
              background-color: black !important;

              &:before,
              &:after {
                background-color: black !important;
              }
            }
          }
          * {
            color: black !important;
            stroke: black !important;
          }
        }
      }

      .wrap-logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;

      }

      // ! LOGO
      a.navbar-brand {
        margin: 0;
        padding: 0;
        z-index: 10;
        height: 70px;
        @include media-breakpoint-down(sm) {
          height: 50px;
          mix-blend-mode: difference;
        }
        @include transition(all 350ms ease-in-out);

        img {
          @include media-breakpoint-down(sm) {
            max-height: 30px;
          }
          @include transition(all 600ms ease-in-out);

          &.navbar-brand-logo-normal {
          }

          &.navbar-brand-logo-inverted {
          }
        }
      }

      .header-part-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;


        button.navbar-toggler {
          display: block !important;
          border: 0;
          box-shadow: none;

          span,
          span:before,
          span:after {
            width: 22px;
            background-color: $white;
          }

          span:before {
            top: calc(50% - 8px);
          }

          span:after {
            top: calc(50% + 6px)
          }
        }

        .wrap-service-navi {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;

          .service-navi-webcam,
          .service-navi-weather {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-left: 25px;
            @include transition(all 200ms ease-in-out);

            &:hover,
            &:focus,
            &:focus-within {
              .webcam-text,
              .weather-text {
                color: white;
              }

              -webkit-transform: scale(1.05);
              -ms-transform: scale(1.05);
              transform: scale(1.05);
            }
          }

          svg {
            margin-right: 7px;
            height: 15px;
            width: 15px;
            background-color: transparent;

            path,
            polygon,
            rect, line {
              stroke: white;
            }
          }

          .webcam-text,
          .weather-text {
            color: white;
            font-size: 16px;
          }
        }
      }

      // ! Main Navigation
      > nav#mainnavigation {
        position: fixed;
        top: 0;
        right: -40vw;
        bottom: 0;
        left: unset;
        z-index: 1031;
        padding: 50px;
        background-color: #fff;
        border-left: #f7f7f7;
        box-shadow: -2px -5px 24px -18px rgba(0, 0, 0, 0.67);
        -webkit-box-shadow: -2px -5px 24px -18px rgba(0, 0, 0, 0.67);
        -moz-box-shadow: -2px -5px 24px -18px rgba(0, 0, 0, 0.67);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        width: 40vw;
        height: 100%;
        max-height: 100%;
        @media (max-width: 991.98px) {
          right: -50vw;
          width: 50vw;
        }
        @media (max-width: 767.98px) {
          padding: 40px;
          right: -80vw;
          width: 80vw;
        }
        @media (max-width: 575.98px) {
          right: -100vw;
          width: 100vw;
        }
        @include transition(all 200ms ease-in-out);

        &.show {
          right: 0;
        }

        a.active, li.active a {
          color: $color-3 !important;
        }

        .header-part-right {
          padding-bottom: 40px;
          border-bottom: 1px solid #000;
          margin-bottom: 40px;

          button {
            .navbar-toggler-icon {

              background-color: transparent !important;

              &:before,
              &:after {
                top: calc(50% - 3px);
                background-color: black !important;
              }
            }
          }

          svg {
            path,
            polygon,
            rect,
            line{
              stroke: black;
            }
          }

          a {
            color: black;
            @include transition(all 200ms ease-in-out);

            .webcam-text,
            .weather-text {
              color: black;
            }
          }
        }

        > ul.navbar-nav {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;

          li.nav-item {

            a.nav-link {
              padding-left: 0;
              font: normal normal bold 21px/26px Outfit;
              letter-spacing: 0px;
              color: #0B2E3F;
              @include transition(all 200ms ease-in-out);

              &:before, &:after {
                display: none !important;
                opacity: 0 !important;
                visibility: hidden !important;
              }

              @media (max-width: 991.98px) {
                margin-left: 0 !important;
                margin-right: 0 !important;
              }

              &:hover,
              &:focus,
              &:focus-within {
                margin-left: 6px;
                text-decoration: none !important;
                underline: 0 !important;
                color: $color-1-light;
                -webkit-transform: scale(1.05);
                -ms-transform: scale(1.05);
                transform: scale(1.05);
              }
            }

            .dropdown-menu {
              position: relative;
              margin: 0;
              display: block;
              border-left: 0;
              padding: 0;
              border: 0;
              box-shadow: none;

              li {

                a {
                  background-color: transparent;
                  @include transition(all 200ms ease-in-out);

                  &:hover,
                  &:focus,
                  &:focus-within {
                    margin-left: 6px;
                    text-decoration: none !important;
                    underline: 0 !important;
                    color: $color-1-light;
                    -webkit-transform: scale(1.05);
                    -ms-transform: scale(1.05);
                    transform: scale(1.05);
                  }
                }
              }
            }
          }

          &:last-of-type {
            margin-top: 50px !important;
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;

            li.nav-item {
              display: inline-block;

              a.nav-link {
                padding: 0 30px 15px 0;
                font: normal normal normal 18px/23px Outfit !important;
                letter-spacing: 0px !important;
                color: #0B2E3F !important;
              }
            }

          }
        }
      }
    }
  }
}


// !
// ! Breadcrumb
// !
nav.breadcrumb-section {
  > div.container {
    padding-top: 15px;
    padding-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    @include media-breakpoint-down(lg) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    > a {
      &:hover,
      &:focus,
      &:focus-within {
        color: $color-1;
      }

      @include media-breakpoint-down(lg) {
        margin-bottom: 20px;
      }

      svg {
        margin-right: 4px;
        width: 13px;
      }
    }
  }
}
