//@import "../../../../../justwebsite-style/Resources/Public/Scss/variables";
div.textpic {
    .gallery-item {
        width: 100%;
    }
    @include media-breakpoint-down(lg) {
        &.textpic-textdown {
            justify-content: flex-start;
            align-items: flex-start;
            div.textpic-item.textpic-gallery {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
        &.textpic-textup {
            justify-content: flex-end;
            align-items: flex-end;
            div.textpic-item.textpic-gallery {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
   
    &.textpic-textdown,
    &.textpic-textup {
        @include media-breakpoint-down(lg) {
            flex-direction: column;
        }
        > div.textpic-item {
            &.textpic-gallery {
                width: 60%;
                @include media-breakpoint-down(sm) {
                    width: 80%;
               }
            }
            &.textpic-text {
                width: 40%;
                @include media-breakpoint-down(sm) {
                    width: 60%;
               }
            }
        }
    }
    &.textpic-textdown {
        > div.textpic-item {
            &.textpic-text {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }
    }
  
}



// !
// ! Frame Layout Start
// !
.frame-layout-start {
    > .frame-container {
        > .frame-inner {
            padding-left: 10vw;
            padding-right: 10vw;
            @include media-breakpoint-down(md) {
                padding-left: 0;
                padding-right: 0;
            }
            strong {
                font: normal normal medium 24px/29px Helvetica Neue;
                letter-spacing: 0px;
                color: #096F8B;
            }
        }
    }
 
}

// !
// ! Frame Layout News
// !
.frame-layout-news {
    > .frame-container {
        > .frame-inner {
            > .textmedia {
                padding: 70px 10vw;
                @include media-breakpoint-down(xl) {
                    padding: 50px;
                }
                @include media-breakpoint-down(md) {
                    padding: 30px;
                }
                background-color: #f2f2f2;
            }
        }
    }
 
}