//@import "../../../../../justwebsite-style/Resources/Public/Scss/variables";

.frame-layout-partnercustomer {
    .gallery-row {
        .gallery-item {
            figure.image {
                padding: 0 30px;
                picture {
                  box-shadow: 0;
                }
            }
            
            &:hover,
            &:focus,
            &:focus-within {

            }
        }
    }
}

// explosion container
.explosion {
    position: absolute; // required if positioned on click else 'relative'
    width: 600px;
    height: 600px;
    pointer-events: none; // make it clickable trhough
    // particle styling
    .particle {
      position: absolute; // required  
      width: 10px;
      height: 10px;
      border-radius: 50%;
      animation: pop 1s reverse forwards; // required
    }
  }
  
  // animation for particle fly away from the cursor
  @keyframes pop {
    from {
      opacity: 0;
    }
    to {
      top: 50%;
      left: 50%;
      opacity: 1;
    }
  }